# Python | Pandas DataFrame

### What is Pandas?

<b>pandas</b> is a software library written for the Python programming language for data manipulation and analysis. In particular, it offers data structures and operations for manipulating numerical tables and time series.

### What is a Pandas DataFrame?

<b>Pandas DataFrame</b> is two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). 

A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns. 

Pandas DataFrame consists of three principal components, the data, rows, and columns.

<img src="images/pandas.jpg">

A Pandas DataFrame will be created by loading the datasets from existing storage. Storage can be SQL Database, CSV file, and Excel file. 
Pandas DataFrame can be created from the lists, dictionary, and from a list of dictionary etc.

Dataframe can be created in different ways here are some ways by which we create a dataframe:

### Creating a dataframe using List:

In [3]:
# import pandas as pd
import pandas as pd
 
# list of strings
lyst = ['CSC', '102', 'is', 'the', 'best', 'course', 'ever']
 
# Calling DataFrame constructor on list
df = pd.DataFrame(lyst)

# Print the output.
df

        0
0     CSC
1     102
2      is
3     the
4    best
5  course
6    ever

### Creating a dataframe using dict of narray/lists:

In [6]:
import pandas as pd
 
# intialise data of lists.
data = {'Name':['Angela', 'Precious', 'Luis', 'Ade', 'Femi'],
        'Age':[20, 21, 19, 18, 20]}
 
# Create DataFrame
df = pd.DataFrame(data)
 
# Print the output.
df

       Name  Age
0    Angela   20
1  Precious   21
2      Luis   19
3       Ade   18
4      Femi   20

### Column Selection:

In [9]:
# Import pandas package
import pandas as pd
 
# Define a dictionary containing employee data
data = {'Name':['Clem', 'Prince', 'Edward', 'Adele'],
        'Age':[27, 24, 22, 32],
        'Address':['Abuja', 'Kano', 'Minna', 'Lagos'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}
 
# Convert the dictionary into DataFrame 
df = pd.DataFrame(data)
 
# select two columns
df[['Name', 'Qualification']]

     Name Qualification
0    Clem           Msc
1  Prince            MA
2  Edward           MCA
3   Adele           Phd

### Row Selection:
Pandas provide a unique method to retrieve rows from a Data frame.<br>
<i><font color="green">DataFrame.iloc[]</font></i> method is used to retrieve rows from Pandas DataFrame.<br>

In [11]:
import pandas as pd
 
# Define a dictionary containing employee data
data = {'Name':['Oyin', 'Mary', 'David', 'Bola'],
        'Age':[27, 24, 22, 32],
        'Address':['Asaba', 'Maiduguri', 'Onitsha', 'Kwara'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}
 
# Convert the dictionary into DataFrame 
df = pd.DataFrame(data)
 
# select first row
df.iloc[0]

Name              Oyin
Age                 27
Address          Asaba
Qualification      Msc
Name: 0, dtype: object

### Read from a file:

In [17]:
# importing pandas package
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("employee_records.csv")

# print excel
data

    Employee Names  Years  Assesment Records  Points  Reward
0      Matthew Ade     25              125.3      21  438.55
1   Angela Adebisi     15               77.9      14  181.77
2  Calistus Ndukwe     10              144.2      18  432.60
3   Martha Martins      9               81.5      25  339.58
4    Victor Sayola     18               77.8      33  427.90
5      Adamu Bello     23               99.5      24  398.00

### Select first row from file

In [19]:
# importing pandas package
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("employee_records.csv")

df=data.iloc[0]

# print excel
df

Employee Names       Matthew Ade
Years                         25
Assesment Records          125.3
Points                        21
Reward                    438.55
Name: 0, dtype: object

### Selecting Row with Title Header

In [21]:
# importing pandas package
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("employee_records.csv")

df=data.head(1)

# print excel
df

  Employee Names  Years  Assesment Records  Points  Reward
0    Matthew Ade     25              125.3      21  438.55

### Looping over rows and columns
A loop is a general term for taking each item of something, one after another.<br> Pandas DataFrame consists of rows and columns so, in order to loop over dataframe, we have to iterate a dataframe like a dictionary.<br><br>
In order to iterate over rows, we can use two functions <i><font color="green">iteritems(), iterrows() </font></i>. These two functions will help in iteration over rows.

In [85]:
# importing pandas as pd
import pandas as pd
  
# dictionary of lists
dict = {'name':["Abdul", "Chukwuemeka", "Seyi", "Matt"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
 
# creating a dataframe from a dictionary 
df = pd.DataFrame(dict)

# iterating over rows using iterrows() function 
for i, j in df.iterrows():
    print(i, j)
    print()

0 name      Abdul
degree      MBA
score        90
Name: 0, dtype: object

1 name      Chukwuemeka
degree            BCA
score              40
Name: 1, dtype: object

2 name        Seyi
degree    M.Tech
score         80
Name: 2, dtype: object

3 name      Matt
degree     MBA
score       98
Name: 3, dtype: object

### Looping over Columns :
In order to loop over columns, we need to create a list of dataframe columns and then iterating through that list to pull out the dataframe columns.

In [73]:
# importing pandas as pd
import pandas as pd
   
# dictionary of lists
dict = {'name':["Bello", "Kamara", "Ugochi", "David"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
  
# creating a dataframe from a dictionary 
df = pd.DataFrame(dict)

# creating a list of dataframe columns
columns = list(df)
 
for i in columns:
    # printing the third element of the column
    print (df[i][2])

Ugochi
M.Tech
80

### Saving a DataFrame as CSV file

In [29]:
# importing pandas as pd
import pandas as pd
   
# dictionary of lists
records = {'name':["Abel", "Kamsi", "Oyode", "Chinelo"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
  
# creating a dataframe from a dictionary 
df = pd.DataFrame(records)

# saving the dataframe
df.to_csv('record.csv')

## Class Project I

####  Go to www.kaggle.com

Kaggle allows users to find and publish data sets, explore and build models in a web-based data-science environment, work with other data scientists and machine learning engineers, and enter competitions to solve data science challenges.

#### Download the following dataset:
1. Top Apps in Google Play
2. Cryptocurrency Predict Artificial Intelligence V3
3. Programming Languages Trend Over Time

#### Clue
You can signin with either Google, facebook or Linkedin account

#### Task
Display the first 7 rows of each dataset<br>
Select the first 3 colums of each dataset<br>
Display only one row and header of each dataset

In [3]:
# importing pandas package
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("Google_Play.csv")

df=data.head(1)

# print excel
df

,No,App Name,App Id,Category,Developer Id,Developer Website,Developer Email,Content Rating,Ad Supported,In App Purchases
0,1,Google Play services,com.google.android.gms,Tools,Google LLC,https://developers.google.com/android/google-p...,apps-help@google.com,Everyone,False,False

In [4]:
# importing pandas package
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("Google_Play.csv")


# creating a dataframe from a dictionary 
df = pd.DataFrame(data)

# iterating over rows using iterrows() function 
for i, j in df.iterrows():
    print(i,j)
    print()

    # Check if a certain column value reaches a specific value
    if j['No'] == int(7):
        break

0 No                                                                   1
App Name                                          Google Play services
App Id                                          com.google.android.gms
Category                                                         Tools
Developer Id                                                Google LLC
Developer Website    https://developers.google.com/android/google-p...
Developer Email                                   apps-help@google.com
Content Rating                                                Everyone
Ad Supported                                                     False
In App Purchases                                                 False
Name: 0, dtype: object

1 No                                                                   2
App Name                                                       YouTube
App Id                                      com.google.android.youtube
Category                                       Video Players & Editors
Developer Id                                                Google LLC
Developer Website    https://support.google.com/youtube/topic/24225...
Developer Email                           ytandroid-support@google.com
Content Rating                                                    Teen
Ad Supported                                                      True
In App Purchases                                                 False
Name: 1, dtype: object

2 No                                                         3
App Name                                              Google
App Id               com.google.android.googlequicksearchbox
Category                                               Tools
Developer Id                                      Google LLC
Developer Website       https://www.google.com/search/about/
Developer Email                         apps-help@google.com
Content Rating                                      Everyone
Ad Supported                                            True
In App Purchases                                       False
Name: 2, dtype: object

3 No                                                  4
App Name             Google Maps - Navigate & Explore
App Id                   com.google.android.apps.maps
Category                               Travel & Local
Developer Id                               Google LLC
Developer Website       http://maps.google.com/about/
Developer Email                  apps-help@google.com
Content Rating                               Everyone
Ad Supported                                     True
In App Purchases                                False
Name: 3, dtype: object

4 No                                         5
App Name               Google Text-to-Speech
App Id                com.google.android.tts
Category                               Tools
Developer Id                      Google LLC
Developer Website     http://www.google.com/
Developer Email      tts-feedback@google.com
Content Rating                      Everyone
Ad Supported                           False
In App Purchases                       False
Name: 4, dtype: object

5 No                                                      6
App Name                     Google Chrome: Fast & Secure
App Id                                 com.android.chrome
Category                                    Communication
Developer Id                                   Google LLC
Developer Website    http://www.google.com/chrome/android
Developer Email                      apps-help@google.com
Content Rating                                   Everyone
Ad Supported                                        False
In App Purchases                                    False
Name: 5, dtype: object

6 No                                                                   7
App Name                                                         Gmail
App Id                                           com.google.android.gm
Category                                                 Communication
Developer Id                                                Google LLC
Developer Website    http://support.google.com/mail/bin/topic.py?hl...
Developer Email                                   apps-help@google.com
Content Rating                                                Everyone
Ad Supported                                                      True
In App Purchases                                                 False
Name: 6, dtype: object

In [95]:
import pandas as pd

datta = pd.read_csv("Google_Play.csv")

# creating a dataframe from a dictionary 
df = pd.DataFrame(datta)

# creating a list of dataframe columns
columns = list(df)
 
for i in columns:
    # printing the third element of the column
    print (df[i][0])
    print (df[i][1])
    print (df[i][2])

1
2
3
Google Play services
YouTube
Google
com.google.android.gms
com.google.android.youtube
com.google.android.googlequicksearchbox
Tools
Video Players & Editors
Tools
Google LLC
Google LLC
Google LLC
https://developers.google.com/android/google-play-services/
https://support.google.com/youtube/topic/2422554?rd=1
https://www.google.com/search/about/
apps-help@google.com
ytandroid-support@google.com
apps-help@google.com
Everyone
Teen
Everyone
False
True
True
False
False
False

In [112]:
# importing pandas package
import pandas as pd

datta = pd.read_csv("Programming_Language.csv")

# creating a dataframe from a dictionary 
df = pd.DataFrame(data)

# iterating over rows using iterrows() function 
for index, row in df.iterrows():
    print(index,row)
    print()

    # Check if a certain column value reaches a specific value
    if index == 6:
        break

0 No                                                                   1
App Name                                          Google Play services
App Id                                          com.google.android.gms
Category                                                         Tools
Developer Id                                                Google LLC
Developer Website    https://developers.google.com/android/google-p...
Developer Email                                   apps-help@google.com
Content Rating                                                Everyone
Ad Supported                                                     False
In App Purchases                                                 False
Name: 0, dtype: object

1 No                                                                   2
App Name                                                       YouTube
App Id                                      com.google.android.youtube
Category                                       Video Players & Editors
Developer Id                                                Google LLC
Developer Website    https://support.google.com/youtube/topic/24225...
Developer Email                           ytandroid-support@google.com
Content Rating                                                    Teen
Ad Supported                                                      True
In App Purchases                                                 False
Name: 1, dtype: object

2 No                                                         3
App Name                                              Google
App Id               com.google.android.googlequicksearchbox
Category                                               Tools
Developer Id                                      Google LLC
Developer Website       https://www.google.com/search/about/
Developer Email                         apps-help@google.com
Content Rating                                      Everyone
Ad Supported                                            True
In App Purchases                                       False
Name: 2, dtype: object

3 No                                                  4
App Name             Google Maps - Navigate & Explore
App Id                   com.google.android.apps.maps
Category                               Travel & Local
Developer Id                               Google LLC
Developer Website       http://maps.google.com/about/
Developer Email                  apps-help@google.com
Content Rating                               Everyone
Ad Supported                                     True
In App Purchases                                False
Name: 3, dtype: object

4 No                                         5
App Name               Google Text-to-Speech
App Id                com.google.android.tts
Category                               Tools
Developer Id                      Google LLC
Developer Website     http://www.google.com/
Developer Email      tts-feedback@google.com
Content Rating                      Everyone
Ad Supported                           False
In App Purchases                       False
Name: 4, dtype: object

5 No                                                      6
App Name                     Google Chrome: Fast & Secure
App Id                                 com.android.chrome
Category                                    Communication
Developer Id                                   Google LLC
Developer Website    http://www.google.com/chrome/android
Developer Email                      apps-help@google.com
Content Rating                                   Everyone
Ad Supported                                        False
In App Purchases                                    False
Name: 5, dtype: object

6 No                                                                   7
App Name                                                         Gmail
App Id                                           com.google.android.gm
Category                                                 Communication
Developer Id                                                Google LLC
Developer Website    http://support.google.com/mail/bin/topic.py?hl...
Developer Email                                   apps-help@google.com
Content Rating                                                Everyone
Ad Supported                                                      True
In App Purchases                                                 False
Name: 6, dtype: object

In [105]:
# importing pandas package
import pandas as pd

datta = pd.read_csv("Programming_Language.csv")

# creating a dataframe from a dictionary 
df = pd.DataFrame(datta)

# creating a list of dataframe columns
columns = list(df)
 
for i in columns:
    # printing the third element of the column
    print (df[i][0])
    print (df[i][1])
    print (df[i][2])

4/21/2019
4/28/2019
5/5/2019
55
52
56
55
50
56
18
16
17

In [106]:
# importing pandas package
import pandas as pd

datta = pd.read_csv("Programming_Language.csv")

df=datta.head(1)

# print excel
df

        Week  Python  Java  C++
0  4/21/2019      55    55   18

In [2]:
import pandas as pd

data = pd.read_csv("Cryptocurrency.csv")

# creating a dataframe from a dictionary 
df = pd.DataFrame(data)

# iterating over rows using iterrows() function 
for index, row in df.iterrows():
    print(index,row)
    print()

    # Check if a certain column value reaches a specific value
    if index == 6:
        break

0 Date        25-Mar-22
Price         44331.0
Open          44013.0
High          45112.0
Low           43622.0
Vol.          494.09M
Change %        0.72%
Name: 0, dtype: object

1 Date        24-Mar-22
Price         44013.0
Open          42911.0
High          44251.0
Low           42658.0
Vol.          491.66M
Change %        2.57%
Name: 1, dtype: object

2 Date        23-Mar-22
Price         42912.0
Open          42373.0
High          43027.0
Low           41795.0
Vol.          433.96M
Change %        1.27%
Name: 2, dtype: object

3 Date        22-Mar-22
Price         42373.0
Open          41022.0
High          43327.9
Low           40893.0
Vol.          537.06M
Change %        3.29%
Name: 3, dtype: object

4 Date        21-Mar-22
Price         41022.0
Open          41282.0
High          41532.0
Low           40530.0
Vol.          406.62M
Change %       -0.62%
Name: 4, dtype: object

5 Date        20-Mar-22
Price         41276.0
Open          42241.0
High          42301.0
Low           40922.0
Vol.          308.45M
Change %       -2.27%
Name: 5, dtype: object

6 Date        19-Mar-22
Price         42233.0
Open          41768.0
High          42386.0
Low           41529.6
Vol.          224.59M
Change %        1.11%
Name: 6, dtype: object

In [115]:
# importing pandas package
import pandas as pd

datta = pd.read_csv("Cryptocurrency.csv")

# creating a dataframe from a dictionary 
df = pd.DataFrame(datta)

# creating a list of dataframe columns
columns = list(df)
 
for i in columns:
    # printing the third element of the column
    print (df[i][0])
    print (df[i][1])
    print (df[i][2])

25-Mar-22
24-Mar-22
23-Mar-22
44331.0
44013.0
42912.0
44013.0
42911.0
42373.0
45112.0
44251.0
43027.0
43622.0
42658.0
41795.0
494.09M
491.66M
433.96M
0.72%
2.57%
1.27%

In [2]:
import pandas as pd

datta = pd.read_csv("Cryptocurrency.csv")

df=datta.head(1)
# print excel
df

        Date    Price     Open     High      Low     Vol. Change %
0  25-Mar-22  44331.0  44013.0  45112.0  43622.0  494.09M    0.72%

## Class Project II

<b>Cadbury Nigeria Plc</b> manufactures and sells branded fast moving consumer goods to the Nigerian market and exports in West Africa. The Company produces intermediate products, such as cocoa butter, liquor, cake and powder. It exports cocoa butter, cake and liquor to international customers, and cocoa powder locally. It operates through three segments: Refreshment Beverages, Confectionery and Intermediate Cocoa Products. The Refreshment Beverages segment includes the manufacture and sale of Bournvita and Hot Chocolate. The Confectionery segment includes the manufacture and sale of Tom Tom and Buttermint. The Intermediate Cocoa Products segment includes the manufacture and sale of cocoa powder, cocoa butter, cocoa liquor and cocoa cake. The Refreshment Beverages' brands include CADBURY BOURNVITA and CADBURY 3-in-1 HOT CHOCOLATE. The Confectionery's brands include TOMTOM CLASSIC, TOMTOM STRAWBERRY and BUTTERMINT. The Intermediate Cocoa Products' brands include COCOA POWDER and COCOA BUTTER.

You have been employed as an expert python developer to create a program to document the consumption categories of their products and brands. Using your knowledge of Pandas DataFrames develop the program that saves the list of products (export, segments and brands) in a .csv excel file.<br><br>
Hint: save the filename as <font color="green"><i>cadbury_market.csv</i></font>.

In [116]:
# Import pandas package
import pandas as pd
 
# Define a dictionary containing employee data
Info = {'Exports':['Cocoa butter', 'Cake', 'Confectionery', "Cocoa Powder"],
        'Refreshment Beverage':['CADBURY BOURNVITA', 'CADBURY BOURNVITA', 'CADBURY 3-in-1 HOT CHOCOLATE', ''],
        'Confectionery':['TOMTOM CLASSIC', 'TOMTOM STRAWBERRY', 'BUTTERMINT', ''],
        'Intermediate Cocoa Products':['COCOA POWDER', 'COCOA BUTTER', '', '']}
# creating a dataframe from a dictionary 
df = pd.DataFrame(Info)

# saving the dataframe
df.to_csv('cadbury_market.csv')