In [11]:
print("The names of the girls in the class and their respective information")
names = [ "Evelyn", "Jessica", "Somto", "Edith", "Liza", "Madonna", "Waje", "Tola", "Aisha",
         "Latifa"]
Age = ["17", "16", "17", "18", "16", "18", "17", "20", "19", "17"]
Height = ["5.5", "6.0", "5.4", "5.9", "5.6", "5.5", "6.1", "6.0", "5.7", "5.5"]
Scores = ["80", "85", "70", "60", "76", "66", "87", "95", "50", "49"]
for val in range(10):
    print(names[val],' |',Age[val],' |', Height[val],' |', Scores[val])
print("\n")
print("The name of the boys in the class and their respective information")
names = [ "Chinedu", "Liam", "Wale", "Gbenga", "Abiola", "Kola", "Kunle", "George", 
         "Thomas", "Weskey"]
Age = ["19", "16", "18", "17", "20", "19", "16", "18", "17", "19"]
Height = [ "5.7", "5.9", "5.8", "6.1", "5.9", "5.5", "5.4", "5.8", "5.7", "6.1"]
Scores = ["74", "87", "75", "68", "66", "78", "87", "98", "54", "60"]
for no in range(10):
    print(names[no], ' |',Age[no], ' |', Height[no], ' |', Scores[no])

The names of the girls in the class and their respective information
Evelyn  | 17  | 5.5  | 80
Jessica  | 16  | 6.0  | 85
Somto  | 17  | 5.4  | 70
Edith  | 18  | 5.9  | 60
Liza  | 16  | 5.6  | 76
Madonna  | 18  | 5.5  | 66
Waje  | 17  | 6.1  | 87
Tola  | 20  | 6.0  | 95
Aisha  | 19  | 5.7  | 50
Latifa  | 17  | 5.5  | 49


The name of the boys in the class and their respective information
Chinedu  | 19  | 5.7  | 74
Liam  | 16  | 5.9  | 87
Wale  | 18  | 5.8  | 75
Gbenga  | 17  | 6.1  | 68
Abiola  | 20  | 5.9  | 66
Kola  | 19  | 5.5  | 78
Kunle  | 16  | 5.4  | 87
George  | 18  | 5.8  | 98
Thomas  | 17  | 5.7  | 54
Weskey  | 19  | 6.1  | 60

In [15]:
years = float(input("Enter your years of experience"))
age = float(input("Enter age"))
if years == 25 and age >= 55:
   print("Your Annual Tax Revenue(ATR) is N5,600,000")
elif years > 20 and age >= 45:
   print("Your ATR is N4,480,000")
elif years > 10 and age >= 35:
   print("Your ATR is N1,500,000")
else:
   print("Your ATR is N550,000")

Enter your years of experience 90
Enter age 78

Your ATR is N4,480,000